body {
font-family: roboto,sans-serif;
}

.header {
background-color: #1f2937;
color: #f9faf8;
padding-left: 100px;
padding-right: 100px;
}

ul {
list-style: none;
color: #f9faf8;
display: flex;
justify-content: space-around;
gap: 10px;
}

.headerlogo {
    font-size: 24px;
    color: #f9faf8;
}

.top {
display: flex;
flex: 0 1 auto;
align-content: flex-start;
flex-direction: row;
justify-content: space-between;
padding: 10px;
}

.boldtext {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.regulartext {
    font-size: 18px;
    color: #e5e7eb;
}

.textgroup {
    display: flex;
    flex: 1;
    height: 400px;
    align-items: center;
    justify-content: space-between;
}

.text {
    display: flex;
    flex-direction: column;
    padding: 16px;
    justify-content: center;
    align-items:flex-start
    }

button {
    font-size: 18px;
    padding: 8px;
    background-color: #3882F6;
    color: #f9faf8;
    border-radius: 8px;
    border-style: none;
}

img {
    max-width: 300px;
    height: auto;
}


.section1{
    background-color: #f9faf8;
    color: #1f2937;
}